extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1= personal.name
        p= personal.title
        .about-bio
          p= personal.bio
          
      .skills-contact-box.box
        h6 Skills
        ul
          each skill in personal.skills
            li= skill 
        h6 Contact Info
        ul
          li= personal.phone
          li= personal.mail
        a.btn-link(href=`${personal.linkedIn_url}`, target="_blank") LinkedIn
        a.btn-link(href=`${personal.github_url}`, target="_blank") GitHub
        a.btn-link(href=`${personal.twitter_url}`, target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back